body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #2E1329;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 65px;
    max-width: 1072px;
    margin: auto;
    padding: 26px;
}

.banner img {
    width: 100%;
    border-radius: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    color: #fff;

    background:
        radial-gradient(circle at top left, rgba(105, 38, 148, 0.6) 0%, transparent 120px),
        radial-gradient(ellipse 300px 120px at top center, rgba(105, 38, 148, 0.5) 0%, transparent 70%),
        #1C041C;
}

.info h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #39DFD4;
    margin: 0;

}

.info p {
    opacity: 0.8;
    max-width: 600px;
    margin: auto;
}

.info h5 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 179px;
    height: 44px;
    gap: 8px;
    padding: 10px 18px;
    box-sizing: border-box;
    border-radius: 24px;
    background: linear-gradient(116.06deg, #8609E5 6.54%, #8F71FA 43.91%, #863AD6 60.26%, #5236B7 76.32%);
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 12px;
    gap: 20px;
    background:
        radial-gradient(circle at top left, rgba(105, 38, 148, 0.6) 0%, transparent 120px),
        #1C041C;
}



.text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 500px;
    color: #EAECF0;
}

.text h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    color: #39DFD4;
    margin: 0;
}

.text ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    opacity: 0.9;
}

.text li {
    position: relative;
    padding-left: 28px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;


    margin: 0;
}

.text li::before {
    content: "✓";
    position: absolute;
    left: 0;
    top: 0;

}

.text b {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.card img {
    width: 447px;
    border-radius: 8px;
}

.bottom {
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        gap: 40px;
    }

    .card {
        flex-direction: column !important;
        text-align: center;
    }

    .card img {
        width: 100%;
    }
}
